:root {
    --fondoS: #FFECB3;
    --grisC: #BDBDBD;
    --grisO: #757575;
    --letra: #212121;

    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Lato', sans-serif;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px*/
    height: 100%;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
    height: 100%;
    background-color: var(--grisC);
}

img {
    width: 100%;
    display: block;
    height: auto;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

h1,
h2,
h3 {
    font-weight: 900;
    font-family: var(--fuenteSecundaria);
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.rota-horizontal {
    transform: scaleX(-1);
}

[class$="__contenedor"] {
    max-width: 140rem;
    margin: 0 auto;
    width: 90%;
}

/* Header */
.header {
    color: var(--grisC);
    background-color: var(--letra);
    padding: 2rem;
}

.header__contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo,
.header__home {

    width: 9rem;
}

.header__home {
    transition: .5s;
}

.header__home:hover {
    transform: scale(1.2);
}


/*menu desplegable*/
.header__logo{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#menuD {
    display: none;
}

.label{
    cursor: pointer;
}

.menu-toggle {
    display: none;
}

.nav__lista {
    display: none;
    justify-content: space-around;
    padding: 1.5rem;
    width: auto;
    transition: .5s;
    list-style-type: none;
    background-color: var(--grisC);
    position: absolute;
    border-radius: 2rem;
    border: solid 2px #000;
    margin-top: -23rem;
    z-index: 600;
}

.nav__lista li{
    text-align: center;
}

.cerrar{
    border: solid 2px black;
    color: black;
    padding: 0.5rem;
    border-radius: 2rem;
    width: 10rem;
    margin: 1.5rem auto 0 auto;
    transition: .5s;
}

.cerrar:hover {
    color: var(--grisC);
    background-color: black;
}

.cerrar:hover a {
    color: white;
}

.menu-toggle:checked~.nav__lista {
    display: block;
    margin-top: 23rem;
    z-index: 2;
}



/* Opciones */
.opciones__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    margin-top: 5rem;
}

.opcion {
    background-color: var(--fondoS);
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem;
    border: solid 2px #000;
    border-radius: 2rem;
    box-shadow: 0px 0px 15px 6px rgb(0 0 0 / .50);
    height: 25rem;
}

.opcion1,
.opcion2,
.opcion3,
.opcion4 {
    transition: .5s;
}

.opcion1:hover,
.opcion2:hover,
.opcion3:hover,
.opcion4:hover {
    scale: 1.1;
}

.imagenes {
    display: flex;
    height: 70%;
}

.imagenes img {
    width: calc(100% / 3);
}

.texto {
    text-align: center;
    color: var(--grisO);
    text-transform: uppercase;
}

.almacen_volver {
    margin: 5rem auto;
    padding: 4rem;
    width: 10rem;
}

.btn {
    background-color: var(--grisC);
    color: #000;
    padding: 1rem;
    border-radius: 1rem;
    border: solid #000 2px;
    font-size: 2rem;
    transition: .5s;
    padding: 1.5rem;
    transition: .5s;
}

.btn:hover {
    background-color: var(--grisO);
}

/* Formularios */
.title {
    background-color: var(--fondoS);
    color: var(--letra);
    border-bottom: var(--letra) 2px solid;
    text-align: center;
    padding: 3rem;
    text-transform: uppercase;
}

.form {
    display: flex;
    flex-direction: column;
    width: 70rem;
    margin: 5rem auto 0;
    padding: 2rem;
    border: solid 2px var(--letra);
    border-radius: 1rem;
    background-color: var(--fondoS);
    gap: 3rem;
}

.form h3 {
    font-size: 3rem;
}

select{
    background-color: var(--fondoS);
    border: solid 2px black;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    font-size: 2rem;
}

option{
    border-radius: 2rem;
    border: solid 2px black;
    background-color: var(--fondoS);
    font-size: 2rem;
}

.form__title {
    border-bottom: solid 2px var(--letra);
    text-align: center;
    padding-bottom: 1rem;
}

.input {
    background-color: transparent;
    border: solid 2px var(--letra);
    color: var(--letra);
    font-size: 2rem;
    border-radius: 1rem;
    padding: 1rem;
}

::placeholder {
    color: var(--letra);
}

.boton_form {
    color: #FFF;
    background-color: var(--letra);
    padding: 1rem;
    font-size: 2rem;
    transition: .5s;
    margin: 2rem 0;
    width: 100%;
    text-transform: uppercase;
    border-radius: 1rem;
}

.boton_form:hover {
    cursor: pointer;
    background-color: #3C3737;
}

.info {
    display: flex;
    gap: 1rem;
}

.info h3 {
    flex: 1;
}

.info input {
    flex: 2;
}

.btn_tabla {
    width: 15rem;
}

.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    margin: 5rem auto;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin: 5rem auto;
    height: 10rem;
    width: 30rem;
}

@media (max-width: 800px){
    .opciones__grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .pFilaHC {
        display: none;
    }
    
    .pFilaVC {
        display: block;
    }
}


@media (max-width: 500px){
    h1{
        font-size: 2rem;
    }

}